body {
    margin: 0;
    padding: 0%;
    width: 100%;
    height:100%;
    background-color: #253439;
}

html {
    scroll-behavior: smooth;
}

/* navbar styling */
.navbar {
    position: relative;
    display: flex;
    width: 100%;
    height: 5em;
    background: white;
    font-family:'Coco-Gothic', light;
}

.navbar .logo img {
    width: 7.8em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

.mainnav .menu li a {
    color: #101F24;
    padding: 0.5em 2em;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
}

.mainnav ul li {
    float: none;
    display: inline-block;
    position: relative;
}

.mainnav ul {
    margin: auto;
    padding: 1.2em;
    list-style: none;
    text-align: right;
}

/* högra delen av nav */
ul:first-child {
    margin-right: 13%;
}

/* vänstra delen av nav */
ul:last-child {
    margin-left: 7%;
}

.mainnav {
    width: 85%;
    margin: 0 auto;
}

/* gör så att 1 & 2 är till vänster */
.mainnav ul li:nth-child(1) {
    float: left;
}
.mainnav ul li:nth-child(2) {
    float: left;
}

.mainnav ul li a:hover{
    transition: 1s;
    background-color: #EFE7DD;
    border-radius: 0.3em;
}

/* social media icons i navbar */
.navbar .social {
    float: left;
    margin-left: 0%;
    position: relative;
    left: 0.9em;
    top: 1.8em;
 }

 .navbar .social a {
    color: #B29E84;
    padding: 0.2em;
 }

 .navbar .social a:hover {
    color: #253439;
 }

 /* språk drop down menu */
 .form-select {
    border: none;
    position: relative;
    top: 1.7em;
    right: 1.7em;
    display: block; 
    font-size: 1rem;
    color: #B29E84;
    background-color: white;
    cursor: pointer;
 }

  /* text styling */
.erfarenhet {
    color: white;
    justify-content: left;
    padding-bottom: 5em;
    padding-top: 2em;
    background-color: #253439;
    background-size: 100%;
}

.title {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 0.1em;
    font-size: x-large;
}

.text1 {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 0.1em;
    font-size: large;
}

.text2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.09em;
    line-height: 1.5em;
    font-size: medium;
    text-align: left;
    align-content: left;
}

.text3 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.09em;
    line-height: 1.5em;
    font-size: medium;
    text-align: right;
}

.erfarenhet .logos {
    width: 6em;
    height: 6em;
    padding-right: 2.5em;
}

.flex-container {
    display: flex;
    padding: 3em 0em 1em 15em;
    max-width: 60%
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #B29E84;
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1em;
}
  
#myBtn:hover {
    background-color: #555;
}

/* Kontakta mig */
.contact {
    background-color: white;
    width: 100%;
    padding-top:1.5em;
}

.contact .text {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 0.1em;
    font-size: x-large;
    text-align: center;
    margin-top:2em;
    margin-bottom: 1.5em;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 4em;
    margin-left: 3em;
}

.container1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1/2;
    grid-template-rows: 1/5;
    padding: 1.8em 3.5em;
}

.field input, .field textarea {
    height: 2.5em;
    width:100%;
    background-color:#f6f3ef;
    border-bottom:#B29E84 0.25em solid;
    border-top:none;
    border-left:none;
    border-right:none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin-bottom: 0.5em;
}

input[type=text]:focus {
    border-bottom:#253439 0.25em solid;
    outline:none;
}

input[type=email]:focus {
    border-bottom:#253439 0.25em solid;
    outline:none;
}

textarea[type=text]:focus {
    border-bottom:#253439 0.25em solid;
    outline:none;
  }

.field textarea {
    align-content: center;
    resize:vertical;
    height: 5em;
    min-height: 3em;
}

.container1 .button {
    border: none;
    background-color:#101F24;
    color: white;
    cursor: pointer;
    padding: 0.6em 2.5em;
    text-align: center;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.container1 .button:hover {
    background-color:#B29E84;
    color:#101F24;
}

.info {
    display: grid;
    grid-template-columns: 2/3;
    grid-template-rows: 1/5;
    align-content: start;
    padding: 1em;
}

.container2 {
    display:grid;
    grid-template-columns: 2em auto 1fr;
    align-items:right;
    align-content: start;
}

.container2 .icon {
    color:#101F24;
    font-size: large;
    align-self: center;
}

.contact .undertitle {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 0.1em;
    font-size: large;
    text-align: left;
    align-self: center;
}

.contact .undertext {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size: medium;
    font-weight: lighter;
    text-align: left;
    align-self: center;
    margin: 0.5em;
}

@media (max-width: 670px) {
    .navbar {
        padding: 0.5em 0.5em;
        gap: 0.2em;
    }
    
    .navbar .logo img {
        width: 4em;
        left: 15%;
    }
    
    .mainnav .menu li a {
        padding: 0.2em 0em;
        font-size: 1em;
        display: block;
    }
    
    .mainnav ul li {
        position: relative;
    }
    
    .mainnav ul {
        margin-left: 1em;
        padding: 0.5em;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        row-gap: 0.7em;
    }
        
    .mainnav {
        width: 90%;
    }
    
    .navbar .social {
        display:flex;
        flex-direction: row;
        position: relative;
        left: 0em;
        top: 3.5em;
    }
    
     .form-select {
        top: 3.7em;
        right: 0.8em;
        font-size: 1rem;
     }
}

@media (min-width:1390px) {
    .navbar {
        height: 6em;
    }
    
    .navbar .logo img {
        width: 9em;
    }
    
    .mainnav .menu li a {
        font-size: 1.6em;
    }
    
    .navbar .social {
        top: 1.3em;
        font-size: 1.5em;
     }

    ul:last-child {
        margin-left: 4%;
    }

     .form-select {
        top: 1.2em;
        right: 1.7em;
        font-size: 1.6em;
     }
}

@media (min-width:1750px) { 
.navbar {
    height: 7em;
}

.navbar .logo img {
    width: 10.8em;
}

.mainnav .menu li a {
    font-size: 2em;
}

.navbar .social {
    top: 1.2em;
    font-size: 1.8em;
 }

 .form-select {
    top: 1em;
    right: 1.7em;
    font-size: 2rem;
 }

}