body {
    margin: 0;
    padding: 0%;
    width: 100%;
    height:100%;
}

/* navbar styling */
.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: white;
    font-family:'Coco-Gothic', light;
}

.navbar .logo img {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    margin: auto;
    display: flex;
    justify-content: center;
}

.main .menu li a {
    color: #101F24;
    padding: 10px 35px;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.main ul li {
    float: none;
    display: inline-block;
    position: relative;
}

.main ul {
    margin: auto;
    padding: 20px 20px;
    list-style: none;
    text-align: right;
}

/* högra delen av nav */
ul:first-child {
    margin-right: 13%;
}

/* vänstra delen av nav */
ul:last-child {
    margin-left: 7%;
}

.main {
    float: none;
    display: inline-block;
    width: 1170px;
    margin: 0 auto;
}

/* gör så att 1 & 2 är till vänster */
.main ul li:nth-child(1) {
    float: left;
}
.main ul li:nth-child(2) {
    float: left;
}

.main ul li a:hover{
    transition: 1s;
    background-color: #EFE7DD;
    border-radius: 5px;
}

/* social media icons i navbar */
.navbar .social {
    float: left;
    margin-left: 0%;
    position: relative;
    left: 20px;
    top: 30px;
 }

 .navbar .social a {
    color: #B29E84;
    padding: 5px;
 }

 .navbar .social a:hover {
    color: #253439;
 }

 /* språk drop down menu */
 .form-select {
    border: none;
    position: relative;
    top: 30px;
    right: 30px;
    display: block; 
    font-size: 1rem;
    color: #B29E84;
    background-color: white;
    cursor: pointer;
 }


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #B29E84;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

 /* text styling */
 .filosofi {
    color: white;
    justify-content: left;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #253439;
    background-size: 100%;
    position: relative;
}

.filosofi .title {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 2px;
    font-size: xx-large;
    margin: 0px 470px 30px 150px;
}

.filosofi .title2 {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 2px;
    font-size: x-large;
    margin: 50px 470px 15px 150px;
}

.filosofi .text {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 16px;
    text-align: justify;
    margin: 20px 530px auto 150px;
}

.filosofi .middle {
    font-family: 'Coco-Gothic', bold;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 30px 580px 30px 200px;
}

.contact form .fields {
    display: flex;
}

.contact form .field {
    height: 45px;
    width: 100%;
}

.contact form .fields input {
    height: 100%;
    width: 100%;
}

.contact .text {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 2px;
    font-size: x-large;
    text-align: center;
    margin:40px;
}