body {
    margin: 0;
    padding: 0%;
    width: 100%;
    height:100%;
    background-color:#253439;
}

html {
    scroll-behavior: smooth;
}





/* navbar styling */
.navbar {
    position: relative;
    display: flex;
    width: 100%;
    height: 5em;
    background: white;
    font-family:'Coco-Gothic', light;
}

.navbar .logo img {
    width: 7.8em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

.mainnav .menu li a {
    color: #101F24;
    padding: 0.5em 2em;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
}

.mainnav ul li {
    float: none;
    display: inline-block;
    position: relative;
}

.mainnav ul {
    margin: auto;
    padding: 1.2em;
    list-style: none;
    text-align: right;
}

/* högra delen av nav */
ul:first-child {
    margin-right: 13%;
}

/* vänstra delen av nav */
ul:last-child {
    margin-left: 7%;
}

.mainnav {
    width: 85%;
    margin: 0 auto;
}

/* gör så att 1 & 2 är till vänster */
.mainnav ul li:nth-child(1) {
    float: left;
}
.mainnav ul li:nth-child(2) {
    float: left;
}

.mainnav ul li a:hover{
    transition: 1s;
    background-color: #EFE7DD;
    border-radius: 0.3em;
}

/* social media icons i navbar */
.navbar .social {
    float: left;
    margin-left: 0%;
    position: relative;
    left: 0.9em;
    top: 1.8em;
 }

 .navbar .social a {
    color: #B29E84;
    padding: 0.2em;
 }

 .navbar .social a:hover {
    color: #253439;
 }

 /* språk drop down menu */
 .form-select {
    border: none;
    position: relative;
    top: 1.7em;
    right: 1.7em;
    display: block; 
    font-size: 1rem;
    color: #B29E84;
    background-color: white;
    cursor: pointer;
 }





  /* text styling */
.portfolio {
    color: white;
    padding-bottom: 5em;
    padding-top: 2em;
    background-color: #253439;
    background-size: 100%;
}

.title {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 0.1em;
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
    padding-top: 1em;
}

.container3 {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    text-align: center;
    color:#101F24;
    flex-wrap: wrap;
    padding: 2em;
}

.flex-item {
    width: 8em;
    height: 8em;
    background-size: cover;
    background-position: center;
    opacity: 70%;
}

.flex-item:hover {
    opacity:100%;
}

.flex-items {
    width: 16em;
    height: 16em;
    background-size: cover;
    background-position: center;
    opacity: 70%;
}

.box1 {
    grid-column-start: 2;
    grid-column-end: 5;
    width:50.5em;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 4;
    width:50.5em;
}

.flex-items:hover {
    opacity:100%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #B29E84;
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1em;
}
  
#myBtn:hover {
    background-color: #555;
}

/* Kontakta mig */
.contact {
    background-color: white;
    width: 100%;
    padding-top:1.5em;
}

.contact .text {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 0.1em;
    font-size: x-large;
    text-align: center;
    margin-top:2em;
    margin-bottom: 1.5em;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 4em;
    margin-left: 3em;
}

.container1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1/2;
    grid-template-rows: 1/5;
    padding: 1.8em 3.5em;
}

.field input, .field textarea {
    height: 2.5em;
    width:100%;
    background-color:#f6f3ef;
    border-bottom:#B29E84 0.25em solid;
    border-top:none;
    border-left:none;
    border-right:none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin-bottom: 0.5em;
}

input[type=text]:focus {
    border-bottom:#253439 0.25em solid;
    outline:none;
}

input[type=email]:focus {
    border-bottom:#253439 0.25em solid;
    outline:none;
}

textarea[type=text]:focus {
    border-bottom:#253439 0.25em solid;
    outline:none;
}

.field textarea {
    align-content: center;
    resize:vertical;
    height: 5em;
    min-height: 3em;
}

.container1 .button {
    border: none;
    background-color:#101F24;
    color: white;
    cursor: pointer;
    padding: 0.6em 2.5em;
    text-align: center;
    border-radius: 0.5em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.container1 .button:hover {
    background-color:#B29E84;
    color:#101F24;
}

.info {
    display: grid;
    grid-template-columns: 2/3;
    grid-template-rows: 1/5;
    align-content: start;
    padding: 1em;
}

.container2 {
    display:grid;
    grid-template-columns: 2em auto 1fr;
    align-items:right;
    align-content: start;
}

.container2 .icon {
    color:#101F24;
    font-size: large;
    align-self: center;
}

.contact .undertitle {
    font-family: 'Coco-Gothic', regular;
    letter-spacing: 0.1em;
    font-size: large;
    text-align: left;
    align-self: center;
}

.contact .undertext {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size: medium;
    font-weight: lighter;
    text-align: left;
    align-self: center;
    margin: 0.5em;
}

.container4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

img{
    width: 10em;
    height: 10em;
    margin: 0.5em;
}

@media (max-width: 850px) {
    .navbar {
        height: 5em;
    }
    
    .navbar .logo img {
        width: 8em;
    }
    
    .mainnav .menu li a {
        font-size: 1.1em;
    }
    
    .navbar .social {
        top: 2em;
        font-size: 1em;
    }

    ul:last-child {
        margin-left: 3%;
    }

    .form-select {
        top: 1.5em;
        right: 1.7em;
        font-size: 1.1em;
    }

    #myBtn {
        font-size: 0.75em;
    }

    .flex-item {
        width: 6em;
        height: 6em;
    }

    
    .title {
        font-size: large;
    }

    .contact {
        padding-top:1em;
    }
    
    .contact .text {
        font-size: larger;
        margin-bottom: 1em;
    }
    
    .container {
        grid-template-columns: 1fr;
        padding-bottom: 4em;
        margin-left: 0.75em;
    }
    
    .container1 {
        padding: 1em 1em;
    }

    .field input, .field textarea {
        height: 2em;
        width:90%;
        border-bottom:#B29E84 0.2em solid;
        font-size:small;
    }
    
    input[type=text]:focus {
        border-bottom:#253439 0.2em solid;
    }
    
    input[type=email]:focus {
        border-bottom:#253439 0.2em solid;
    }
    
    textarea[type=text]:focus {
        border-bottom:#253439 0.2em solid;
    }
    
    .container1 .button {
        padding: 0.5em 1.5em;
        border-radius: 0.5em;
        font-size: 0.8em;
    }
    
    .info {
        display: grid;
        grid-template-columns: 2/3;
        grid-template-rows: 1/5;
        align-content: start;
        padding: 1em;
    }
    
    .container2 .icon {
        font-size: medium;
    }
    
    .contact .undertitle {
        font-size: medium;
    }
    
    .contact .undertext {
        font-size: small;
        margin: 0.4em;
    }
}

@media (max-width: 560px) {
    #myBtn {
        font-size: 0.75em;
    }

    .flex-item {
        width: 5em;
        height: 5em;
    }

    .title {
        font-size: medium;
    }

    .contact {
        padding-top:1em;
    }
    
    .contact .text {
        font-size: larger;
        margin-bottom: 1em;
    }
    
    .container {
        grid-template-columns: 1fr;
        padding-bottom: 4em;
        margin-left: 0.75em;
    }
    
    .container1 {
        padding: 1em 1em;
    }

    .field input, .field textarea {
        height: 2em;
        width:90%;
        border-bottom:#B29E84 0.2em solid;
        font-size:small;
    }
    
    input[type=text]:focus {
        border-bottom:#253439 0.2em solid;
    }
    
    input[type=email]:focus {
        border-bottom:#253439 0.2em solid;
    }
    
    textarea[type=text]:focus {
        border-bottom:#253439 0.2em solid;
    }
    
    .container1 .button {
        padding: 0.5em 1.5em;
        border-radius: 0.5em;
        font-size: 0.8em;
    }
    
    .info {
        display: grid;
        grid-template-columns: 2/3;
        grid-template-rows: 1/5;
        align-content: start;
        padding: 1em;
    }
    
    .container2 .icon {
        font-size: medium;
    }
    
    .contact .undertitle {
        font-size: medium;
    }
    
    .contact .undertext {
        font-size: small;
        margin: 0.4em;
    }
}

@media (max-width: 1100px){
    .mainnav .menu li a {
        padding: 0.2em 0em;
        font-size: 1em;
        display: block;
    }
    
    .mainnav ul li {
        position: relative;
    }
    
    .mainnav ul {
        margin-left: 1em;
        padding: 0.5em;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        row-gap: 0.7em;
    }
}

@media (min-width:1750px) { 
.navbar {
    height: 7em;
}

.navbar .logo img {
    width: 10.8em;
}

.mainnav .menu li a {
    font-size: 2em;
}

.navbar .social {
    top: 1.2em;
    font-size: 1.8em;
}

.form-select {
    top: 1em;
    right: 1.7em;
    font-size: 2rem;
}

#myBtn {
    bottom: 3em;
    right: 3em;
    font-size: 2em;
}

.flex-item {
    width: 8em;
    height: 8em;
}

.contact .text {
    font-size: 3em;
}

.field input, .field textarea {
    height: 4em;
    width:70%;
    font-size: x-large;
    margin-bottom: 1em;
}

.field textarea {
    height: 6em;
    min-height: 4em;
}

.container1 {
    margin-left: 17em;
    padding: 1.5em 0em;
    width: 90%;
}

.container1 .button {
    padding: 0.6em 3em;
    text-align: center;
    font-size: 2.5em;
}

.container2 {
    grid-template-columns: 5em auto 1fr;
}

.container2 .icon {
    font-size: 3em;
}

.contact .undertitle {
    font-size: 2em;
}

.contact .undertext {
    font-size: xx-large;
}
}

@media (max-width: 1024px){
    .social{
        display: flex;
        flex-direction: row;
    }
}

#yhlog{
    margin-top: -2.5em;
}

@media (max-width: 670px) {
    .navbar {
        padding: 0.5em 0.5em;
        gap: 0.2em;
    }
    
    .navbar .logo img {
        width: 4em;
        left: 15%;
    }
        
    .mainnav {
        width: 90%;
    }
    
    .navbar .social {
        display:flex;
        flex-direction: row;
        position: relative;
        left: 0em;
        top: 3.5em;
    }
    
     .form-select {
        top: 3.7em;
        right: 0.8em;
        font-size: 1rem;
     }

     #yhlog{
        margin-top: -3.8em;
    }
}


#portfolio-img:hover {
    transform: scale(1.5);
  }
  
  

