.body {
    margin: 0%;
    padding: 0%;
}

/* navbar styling */
.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: white;
    font-family: 'Coco Gothic', sans-serif;
    font-family: 'Coco Gothic Alternate', sans-serif;
}

.navbar .logo img {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 0 px;
    transform: translateX(-50%);
    margin: auto;
    display: flex;
    justify-content: center;
}

.main .menu li a {
    color: #101F24;
    padding: 10px 35px;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.main ul li {
    float: none;
    display: inline-block;
    position: relative;
}

.main ul {
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
    text-align: right;
}

/* högra delen av nav */
ul:first-child {
    margin-right: 13%;
}

/* vänstra delen av nav */
ul:last-child {
    margin-left: 10%;
}

.main {
    float: none;
    display: inline-block;
    width: 1170px;
    margin: 0 auto;
}

/* gör så att 1 & 2 är till vänster */
.main ul li:nth-child(1) {
    float: left;
}
.main ul li:nth-child(2) {
    float: left;
}

.main ul li a:hover{
    transition: 1s;
    background-color: #EFE7DD;
    border-radius: 5px;
}